/* Importing Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

/* Setting Raleway as the default font for the entire app */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}
